body {
  padding: 0;
  margin: 0;
  font-family: arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  height: auto;
}

/*===================================================*/
/*                     Font Face                     */
/*===================================================*/
@font-face {
  font-family: 'adelle_sans_sagebold';
  src: url("../fonts/adellesanssage-bold-webfont.eot");
  src: url("../fonts/adellesanssage-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/adellesanssage-bold-webfont.woff2") format("woff2"), url("../fonts/adellesanssage-bold-webfont.woff") format("woff"), url("../fonts/adellesanssage-bold-webfont.ttf") format("truetype"), url("../fonts/adellesanssage-bold-webfont.svg#adelle_sans_sagebold") format("svg");
  font-weight: normal;
  font-style: normal;
}
.wrapper {
  padding-right: 0;
  padding-left: 0;
}
.wrapper .main {
  margin-left: -15px;
  margin-right: -15px;
  margin-left: 0;
  margin-right: 0;
}
.wrapper .main:before, .wrapper .main:after {
  content: " ";
  display: table;
}
.wrapper .main:after {
  clear: both;
}
.wrapper .main .menu-wrap {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-right: 0;
  padding-left: 0;
}
@media (min-width: 768px) {
  .wrapper .main .menu-wrap {
    float: left;
    width: 8.33333%;
  }
}
.wrapper .main .content-wrap {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-right: 0;
  padding-left: 0;
}
@media (min-width: 768px) {
  .wrapper .main .content-wrap {
    float: left;
    width: 91.66667%;
  }
}

.sections-wrap {
  margin-left: -15px;
  margin-right: -15px;
  margin-left: 0;
  margin-right: 0;
}
.sections-wrap:before, .sections-wrap:after {
  content: " ";
  display: table;
}
.sections-wrap:after {
  clear: both;
}
.sections-wrap .section-1 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-right: 0;
  padding-left: 0;
}
@media (min-width: 768px) {
  .sections-wrap .section-1 {
    float: left;
    width: 50%;
  }
}
.sections-wrap .section-2 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-right: 0;
  padding-left: 0;
}
@media (min-width: 768px) {
  .sections-wrap .section-2 {
    float: left;
    width: 50%;
  }
}

.news .news-img {
  width: 100%;
}
.news .news-title {
  color: #a5bccc;
  margin-top: 0;
}
.news .news-item {
  margin: 20px 0;
}
.news .news-item .news-badge .label.promos {
  color: #f36a58;
  background-color: transparent;
  border-color: #f36a58;
  border-width: 1px;
  border-style: solid;
  text-transform: uppercase;
  display: inline-block;
}
.news .news-item .news-badge .label.vins {
  color: #986bbe;
  background-color: transparent;
  border-color: #986bbe;
  border-width: 1px;
  border-style: solid;
  text-transform: uppercase;
  display: inline-block;
}
.news .news-item .news-badge .label.contrats {
  color: #6be0ce;
  background-color: transparent;
  border-color: #6be0ce;
  border-width: 1px;
  border-style: solid;
  text-transform: uppercase;
  display: inline-block;
}
.news .news-item .news-content {
  margin-left: -15px;
  margin-right: -15px;
}
.news .news-item .news-content:before, .news .news-item .news-content:after {
  content: " ";
  display: table;
}
.news .news-item .news-content:after {
  clear: both;
}
.news .news-item .news-content .details {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .news .news-item .news-content .details {
    float: left;
    width: 83.33333%;
  }
}
.news .news-item .news-content .details h2 {
  font-size: 20px;
  font-weight: bold;
  color: #222325;
}
.news .news-item .news-content .details p {
  color: #a5bccc;
}
.news .news-item .news-content .image {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .news .news-item .news-content .image {
    float: left;
    width: 16.66667%;
  }
}
.news .news-item .news-content .image div {
  width: 52px;
  height: 74px;
  margin: auto;
  margin-top: 25px;
}
.news .news-inner {
  padding: 15px 20px;
  background-color: #f6f7f9;
}
.news.news-adherent-block .news-inner {
  background-color: #fff;
}
.news .blocks-footer .button {
  float: left;
  width: 50%;
}
.news .blocks-footer .button a {
  background-color: #15262e;
  text-transform: uppercase;
  color: #fff;
  border: none;
  font-size: 12px;
  line-height: 20px;
  border-radius: 3px;
}
.news .blocks-footer .navigation {
  float: left;
  width: 50%;
  text-align: right;
}
.news .blocks-footer .navigation div {
  line-height: 32px;
}
.news .blocks-footer .navigation span a {
  color: #dedee0;
  font-size: 20px;
}

.sub-sections-wrap {
  margin-left: -15px;
  margin-right: -15px;
  margin-left: 0;
  margin-right: 0;
}
.sub-sections-wrap:before, .sub-sections-wrap:after {
  content: " ";
  display: table;
}
.sub-sections-wrap:after {
  clear: both;
}
.sub-sections-wrap .sub-section-1 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-right: 0;
  padding-left: 0;
}
@media (min-width: 768px) {
  .sub-sections-wrap .sub-section-1 {
    float: left;
    width: 50%;
  }
}
.sub-sections-wrap .sub-section-2 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-right: 0;
  padding-left: 0;
}
@media (min-width: 768px) {
  .sub-sections-wrap .sub-section-2 {
    float: left;
    width: 50%;
  }
}

#main-menu {
  background-color: #25567F;
  height: calc(100vh - 100px);
  margin-top: 100px;
}
#main-menu ul {
  padding: 0;
}
#main-menu ul li {
  list-style: none;
}
#main-menu ul li a {
  text-align: center;
  display: block;
}
#main-menu ul li a .menu-icon {
  display: block;
  font-size: 40px;
  color: #F2B10B;
  padding: 20px 10px 0px 10px;
}
#main-menu ul li a .menu-label {
  display: block;
  text-transform: uppercase;
  padding-left: 15px;
  padding-right: 15px;
  color: #3D739C;
  font-size: 12px;
  line-height: 15px;
}
#main-menu ul li.menu-burger {
  background-color: #023864;
}
#main-menu ul li.menu-burger a {
  padding-bottom: 20px;
}
