//==========================================
//              Accords BLOCK
//==========================================
.accords {
	background-color: $dark-blue;
    padding: 33px 25px;
	h1 {
		@include block_title($white);
		.badge {
			@include badge_style($badge-contrats-color);
		}
	}

	.dropdown {
		margin-bottom: 10px;
		button {
		    font-size: 11px;
		    line-height: 15px;
		    padding: 2px 3px;
		    background-color: #44719a;
		    border-radius: 3px;
	        color: $white;
		    text-transform: uppercase;
		    border: none;
		}
	}

	.listes {
		padding: 0 0 0 15px;
	    height: 70px;
	    overflow-y: scroll;
	    width: 100%;
		li {
			color: #6be0ce;
			font-size: 12px;
			span {
				color: $white;
				&.small {
					color: #44719a;
					font-size: 10px;
				}
			}
		}
	}

	.form-group {
		label {
			font-size: 12px;
			color: $white;
		}
		input {
			@include input_style(60%);
			margin-right: 10px;
		}
		button {
			@include button_tout_voir($badge-contrats-color, $dark-blue);
		}
	}
}


//==========================================
//          Client nationaux BLOCK
//==========================================

.client-nationaux {
	padding: 28px 25px;
	.form-group {
		width: 100%;
		p {
			margin: 0;
			text-transform: uppercase;
		}
	}
	.dropdown {
		float: left;
		width: 60%;
		margin-right: 10px;
		button {
			&.select {
				@include input_style(100%);
				text-transform: initial;
				text-align: left;
			}
			&.search {
				@include button_tout_voir($badge-contrats-color, $dark-blue);
			}
		}
	}
	.button-search {
		float: left;
		width: 30%;
	}
	p {
		color: $white;
	}
}