#main-menu {
	background-color: $bleu;
	ul.principal-nav {
		padding: 0;
		li {
			list-style: none;

			a {
				text-align: center;
    			display: block;
				.menu-icon {
					display: block;
					font-size: 40px;
					color: $yellow;
					padding: 20px 10px 0px 10px;
				}
				.menu-label {
					display: block;
					text-transform: uppercase;
					padding-left: 15px;
    				padding-right: 15px;
    				color: $light-blue;
    				font-size: 12px;
    				line-height: 15px;
				}
			}

			&.menu-burger {
				background-color: $dark-blue;

				a {
					padding-bottom: 20px;
				}

				ul#sub-menu-burger {
					&.in {
						background-color: $sky-blue;
						bottom: 0;
						left: 100px;
						position: absolute;
						top: -100px;
						width: 300px;
						padding-top: 45px;
						padding-left: 27px;
					}

					li {
						list-style: circle;
						color: #b3bfd7;
						margin-bottom: 28px;
						a {
							padding-bottom: 0;
							text-align: left;
						}
					}				
				}
			}
		}
	}
}